admin@vmx01> show configuration
## Last commit: 2023-11-23 07:03:03 UTC by admin
version 21.2R1.10;
system {
    host-name vmx01;
    root-authentication {
        encrypted-password "$6$6HmzZRc4$lMuf68hYNBb3305Ks26yVr2nTQQ2BUGsrYr95N44Y.38V72EArF3JGAq0zhYtH94Re2LZl6z/XceHLKns9DCJ."; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$yQVI.HV1$Yt/j1NbBGMcpwSkvMkbCiuxUhFa6TNyp3u2jHl0WCKUg79w.Q7h9Qf5P0Og61otOBddGLZ.yQvgpvtFgoRu0J1"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        extension-service {
            request-response {
                grpc {
                    clear-text {
                        port 57400;
                    }
                    max-connections 4;
                }
            }
        }
        netconf {
            ssh;
            rfc-compliant;
        }
    }
    management-instance;
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 96;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            description "Linux Host";
            family inet {
                address 192.168.1.1/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            description "vMX 01 -- vMX 02";
            family inet {
                address 192.168.20.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 11.11.11.11/32;
            }
        }
    }
}
policy-options {
    policy-statement ADV-LOOPBACK {
        term 1 {
            from protocol direct;
            then accept;
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
        description management-instance;
    }
}
routing-options {
    router-id 11.11.11.11;
    autonomous-system 65000;
}
protocols {
    bgp {
        group EBGP {
            type external;
            export ADV-LOOPBACK;
            peer-as 65100;
            neighbor 192.168.20.2;
        }
    }
}




admin@vmx01> show configuration | display set
set version 21.2R1.10
set system host-name vmx01
set system root-authentication encrypted-password "$6$6HmzZRc4$lMuf68hYNBb3305Ks26yVr2nTQQ2BUGsrYr95N44Y.38V72EArF3JGAq0zhYtH94Re2LZl6z/XceHLKns9DCJ."
set system login user admin uid 2000
set system login user admin class super-user
set system login user admin authentication encrypted-password "$6$yQVI.HV1$Yt/j1NbBGMcpwSkvMkbCiuxUhFa6TNyp3u2jHl0WCKUg79w.Q7h9Qf5P0Og61otOBddGLZ.yQvgpvtFgoRu0J1"
set system services ssh
set system services extension-service request-response grpc clear-text port 57400
set system services extension-service request-response grpc max-connections 4
set system services netconf ssh
set system services netconf rfc-compliant
set system management-instance
set system syslog file interactive-commands interactive-commands any
set system syslog file messages any notice
set system syslog file messages authorization info
set chassis fpc 0 pic 0 number-of-ports 96
set interfaces ge-0/0/0 unit 0 description "Linux Host"
set interfaces ge-0/0/0 unit 0 family inet address 192.168.1.1/24
set interfaces ge-0/0/1 unit 0 description "vMX 01 -- vMX 02"
set interfaces ge-0/0/1 unit 0 family inet address 192.168.20.1/24
set interfaces fxp0 unit 0 family inet address 10.0.0.15/24
set interfaces lo0 unit 0 family inet address 11.11.11.11/32
set policy-options policy-statement ADV-LOOPBACK term 1 from protocol direct
set policy-options policy-statement ADV-LOOPBACK term 1 then accept
set routing-instances mgmt_junos routing-options static route 0.0.0.0/0 next-hop 10.0.0.2
set routing-instances mgmt_junos description management-instance
set routing-options router-id 11.11.11.11
set routing-options autonomous-system 65000
set protocols bgp group EBGP type external
set protocols bgp group EBGP export ADV-LOOPBACK
set protocols bgp group EBGP peer-as 65100
set protocols bgp group EBGP neighbor 192.168.20.2



