admin@vmx02> show configuration
## Last commit: 2023-11-23 07:06:21 UTC by admin
version 21.2R1.10;
system {
    host-name vmx02;
    root-authentication {
        encrypted-password "$6$g9gBPgXP$nDvDEZSekqlITVYMTH.6M7seyiqAaIXvKckU0AipXN9nIOj7q2/Ho2OXgwVJkUsgL9YbBgPqYx7dQlnRH.2rL/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$d3UFGoH4$1nfC4emqJpOF1ryFaEzAxCrOoYSvzL4VeM967aZtjedbxwVXyEJ.i.EtIWEkYs/oPNateJetFvu/978jyJHjk/"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        extension-service {
            request-response {
                grpc {
                    clear-text {
                        port 57400;
                    }
                    max-connections 4;
                }
            }
        }
        netconf {
            ssh;
            rfc-compliant;
        }
    }
    management-instance;
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 96;
        }
    }
}
interfaces {
    ge-0/0/1 {
        unit 0 {
            description "vMX 01 -- vMX 02";
            family inet {
                address 192.168.20.2/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 22.22.22.22/32;
            }
        }
    }
}
policy-options {
    policy-statement ADV-LOOPBACK {
        term 1 {
            from protocol direct;
            then accept;
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
        description management-instance;
    }
}
routing-options {
    router-id 22.22.22.22;
    autonomous-system 65100;
}
protocols {
    bgp {
        group EBGP {
            type external;
            export ADV-LOOPBACK;
            peer-as 65000;
            neighbor 192.168.20.1;
        }
    }
}



set version 21.2R1.10
set system host-name vmx02
set system root-authentication encrypted-password "$6$g9gBPgXP$nDvDEZSekqlITVYMTH.6M7seyiqAaIXvKckU0AipXN9nIOj7q2/Ho2OXgwVJkUsgL9YbBgPqYx7dQlnRH.2rL/"
set system login user admin uid 2000
set system login user admin class super-user
set system login user admin authentication encrypted-password "$6$d3UFGoH4$1nfC4emqJpOF1ryFaEzAxCrOoYSvzL4VeM967aZtjedbxwVXyEJ.i.EtIWEkYs/oPNateJetFvu/978jyJHjk/"
set system services ssh
set system services extension-service request-response grpc clear-text port 57400
set system services extension-service request-response grpc max-connections 4
set system services netconf ssh
set system services netconf rfc-compliant
set system management-instance
set system syslog file interactive-commands interactive-commands any
set system syslog file messages any notice
set system syslog file messages authorization info
set chassis fpc 0 pic 0 number-of-ports 96
set interfaces ge-0/0/1 unit 0 description "vMX 01 -- vMX 02"
set interfaces ge-0/0/1 unit 0 family inet address 192.168.20.2/24
set interfaces fxp0 unit 0 family inet address 10.0.0.15/24
set interfaces lo0 unit 0 family inet address 22.22.22.22/32
set policy-options policy-statement ADV-LOOPBACK term 1 from protocol direct
set policy-options policy-statement ADV-LOOPBACK term 1 then accept
set routing-instances mgmt_junos routing-options static route 0.0.0.0/0 next-hop 10.0.0.2
set routing-instances mgmt_junos description management-instance
set routing-options router-id 22.22.22.22
set routing-options autonomous-system 65100
set protocols bgp group EBGP type external
set protocols bgp group EBGP export ADV-LOOPBACK
set protocols bgp group EBGP peer-as 65000
set protocols bgp group EBGP neighbor 192.168.20.1

